* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F3F3F3;
}

.flexbox {
  justify-content: space-between;

  width: 100%;
  height: 100vh;

  overflow: hidden;

  padding: 0 15px 15px 15px;

}

.backgroundWinner {

  background-image: url("https://res.cloudinary.com/aosg26/image/upload/v1600284473/jason-leung-Xaanw0s0pMk-unsplash_pszter.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

.gameoverContainer {
  text-align: center;
  color: #f3f3f3;
}

.centerGameOver {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.shareContainer {
  margin-top: 15px;
  height: 100px;
}

.flexbox .board {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 300px;

  background-color: #3CA5C5;
  padding: 15px;

  min-height: 100px;
  margin-bottom: 10px;
}

.scoreBoard {
  height: 50px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  width: 100%;
  margin-left: -15px;
  padding-left: 15px;
}

.titleBoard {
  margin: 15px 0px;
}

.bulletNumber {
  margin-bottom: -5px;
  margin-left: -10px;
  margin-top: -15px;
}

.oneCard .card {
  margin-bottom: 0px !important;
}

.wordCard {
  padding: 13px 25px;
  background-color: #F3F3F3;
  margin-bottom: 15px;
  min-height: 50px;
  border-radius: 10px;
}
.flexbox .board .card {
  padding: 15px 25px;
  background-color: #F3F3F3;
  border-radius: 10px;
  cursor: pointer;
  min-height: 50px;
}

.wrong {
  background-color: red !important;
}
.flexbox .board .card:hover {
  background-color: gray; /*Breyta um lit hér...*/
}

.current {
  background-color: yellow !important;
}

.questions {
  opacity: 1; /* ÞARF AÐ GERA AUGLJÓST AÐ ORÐIN EIGA EKKI AÐ VERA DRAGGABLE */
}

 .flexbox .skyringar .board {
  margin-bottom: 0px !important;
}

.menu {
  margin-top: 150px;
}

@media only screen and (max-width: 900px) {
  .menu {
    margin-top: 50px;
  }
  .menuItem {
    width: auto !important;
  }
  .flexbox {
    padding: 0px;
    height: 100%;
  }
  .flexbox .row .col h3 {
    font-size: 1.25rem;
  }
  .flexbox .board {
    padding: 5px;
    min-height: 50px;
    max-width: 200px;
  }
  .flexbox .board .card {
    max-height: 75px;
    padding: 5px 10px;
    overflow: auto;
    word-break: break-word;
    margin-bottom: 0px;
  }

  .questions {
    max-width: 200px;
    width: 200px !important;
  }

  .scoreBoard{
    margin-left: 0;
    position: fixed;
    bottom: 0;
    z-index: 100;
    width: 100vw;
    background-color: white;
    border: none;
    height: 25px;
    margin-left: -50px;
  }
  .centerGameOver{
    margin-top: 0px;
  }

  .scoreBoard .col {
    padding-left: 50px;
    padding-right: 0px;
  }

  .titleBoard {
    margin-top: 0px;
  }
  

  .gameBoard {
    margin-bottom: 30px;
  }

  .wordCard {
    padding: 5px 10px;
    word-break: break-word;
    overflow: auto;
  }
}

@media only screen and (max-width: 600px) {
  .menu {
    margin-top: 150px;
  }
  .menuItem {
    width: auto !important;
  }
  .container {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media only screen and (max-width: 800px) {
  .container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .flexbox .board {
    max-width: 150px;
  }
}

.menuItem {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center; 
  margin: 10px;

}
.menuItem a {
  width: 250px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center; 
  text-decoration: none;
}
a:link {
  text-decoration: none;
}

.homeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.loadingDiv {
  position: absolute;
  z-index: 100;
  left: 50%;
}
